@charset "utf-8";

body {
  background: #e15e4e;
	background-image: url('../images/background.gif');
	background-size: 1250px 600px;
	background-position: top center;
	background-repeat: no-repeat;
}

#main {
	padding: 20px 0 0 0;
	text-align: center;
}

#title-container {
	posittion: relative;
	margin: 0 auto 40px auto;
	background: url('../images/title.png');
	background-size: 527px 161px;
	background-position: center;
	background-repeat: no-repeat;
	width: 527px;
	height: 161px;
	overflow: hidden;

	h1 {
		position: absolute;
		top: -100px;
		left: 0;
	}
}

#face-container {
	position: relative;
	margin: 0 auto 0 auto;
	width: 225px;
	height: 275px;
	background: url('../images/face-states.png');
	background-repeat: no-repeat;
	background-size: 675px 275px;
	cursor: pointer;

	img.sub-text {
		width: 325px;
		height: 241px;
		position: absolute;
		left: -55px;
		top: -10px;
	}
}

#face-container:hover {
	background-position: -225px 0;
}

#face-container.mousedown {
	background-position: -450px 0;
}

#sub-container {
	position: relative;
	width: 100%;
	height: 60px;
	background: url('../images/sub-bg.png');
	overflow: hidden;

	#sub-text {
		position: relative;
		top: 12px;
		margin: 0 auto 0 auto;
		height: 35px;
		width: 727px;
		background: url('../images/sub-text.png');
		background-size: 727px 35px;
	}

	p {
		position: absolute;
		top: -100px;
		left: 0;
	}
}

#links-container {
	margin: 20px 0 0 0;

	#link-btns {
		position: relative;
		margin: 0 auto 0 auto;
		width: 290px;
		height: 150px;

		.link-btn {
			position: absolute;
			width: 145px;
			height: 57px;
			cursor: pointer;
			
			img.click-target {
				width: 100%;
				height: 100%;
			}

			img.tooltip {
				position: absolute;
				top: 15px;
				width: 120px;
				height: 27px;
				display: none;
			}
		}

		.link-btn:hover {
			img.tooltip {
				display: block;
			}
		}

		#chrome-link {
			left: 0px;
			background: url('../images/btn-chrome.png');
			background-size: 145px 57px;

			img.tooltip {
				left: -120px;
			}
		}
		
		#chrome-link:hover {
			background: url('../images/btn-chrome-over.png');
			background-size: 145px 57px;
		}

		#bookmarklet-link {
			right: 0;
			background: url('../images/btn-bookmarklet.png');
			background-size: 145px 57px;
			
			img.click-target {
				display: none;
			}

			img.tooltip {
				right: -120px;
			}
		}

		#bookmarklet-link:hover {
			background: url('../images/btn-bookmarklet-over.png');
			background-size: 145px 57px;
			
			img.click-target {
				display: block;
			}
		}

		.social-btn {
			position: absolute;
			top: 65px;
			width: 43px;
			height: 43px;
			cursor: pointer;
		}

		#facebook-btn {
			left: 95px;
		}

		#twitter-btn {
			right: 95px;
		}
	}
}