---
title: The Web Cursor
---

<div id="title-container">
	<h1>The Web Cursor</h1>
</div>

<div id="face-container">
	<img class="sub-text" src="images/sub-text-curve.png" />
</div>

<div id="sub-container">

	<div id="sub-text"></div>

	<p>Curse YOUR frustrations AWAY this holiday with the most foul-mouthed browsing tool on the internet.</p>

</div>

<div id="links-container">

	<div id="link-btns">

		<div id="chrome-link" class="link-btn">
			<a href="https://chrome.google.com/webstore/detail/the-curser/mjandaicmhpeibadagibfhodefpjdgmo" target="_blank"><img class="click-target" src="images/transparency.png" /></a>
			<img class="tooltip" src="images/btn-chrome-tooltip.png" />
		</div>

		<div id="bookmarklet-link" class="link-btn">
			<a href="javascript:(function()%7Bfunction%20callback()%7Bvar%20TheCursorVersion%20%3D%20'1.0'%7Dvar%20s%3Ddocument.createElement(%22script%22)%3Bs.src%3D%22%2F%2Fthewebcursor.herokuapp.com%2FChromeExt%2Fjavascripts%2Fmain.js%22%3Bif(s.addEventListener)%7Bs.addEventListener(%22load%22%2Ccallback%2Cfalse)%7Delse%20if(s.readyState)%7Bs.onreadystatechange%3Dcallback%7Ddocument.body.appendChild(s)%3B%7D)()"><img name="The Curser" alt="The Curser" class="click-target" src="images/btn-bookmarklet-over.png" /></a>
			<img class="tooltip" src="images/btn-bookmarklet-tooltip.png" />
		</div>
		
		<img id="twitter-btn" data-url="http://www.thecurser.com" data-text="Curse YOUR frustrations AWAY this holiday with the most foul-mouthed browsing tool on the internet." class="social-btn social twitter" src="images/social-twitter.png" alt="share on twitter" />
		<img id="facebook-btn" data-url="http://www.thecurser.com" class="social-btn social fb" src="images/social-facebook.png" alt="share on facebook" />
	</div>

</div>
