---
title: The Web Cursor
---

<div id="title-container">
	<h1>The Web Cursor</h1>
</div>

<div id="face-container">

</div>

<div id="sub-container">

	<div id="sub-text"></div>

	<p>Curse YOUR frustrations AWAY this holiday with the most foul-mouthed browsing tool on the internet.</p>

</div>

<div id="links-container">

	<div id="link-btns">
		<div id="chrome-link" class="link-btn"><a href="http://www.google.com"><img src="images/transparency.png" /></a></div>
		<!--
		<div id="bookmarklet-link" class="link-btn"><a href="http://www.google.com"><img src="images/btn-bookmarklet-over.png" /></a></div>
		-->
		<img id="twitter-btn" class="social-btn social twitter" src="images/social-twitter.png" alt="share on twitter" />
		<img id="facebook-btn" class="social-btn social fb" src="images/social-facebook.png" alt="share on facebook" />
	</div>

</div>
