.cc-curse-view {
  font: helvetica, arial, verdana;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  margin: -220px 0 0 -215px;
  overflow: hidden;
  opacity: 0;
  width: 225px;
  height: 225px;
}

#cc-image-load {
  position:absolute;
  top: -500px;
  left: -500px;
  display: none;
}

a {
  cursor: url('../images/cursor.png'), pointer;
}
